// Box-sizing
*, *::after, *::before {
    box-sizing: border-box;
}

// Gera as classes de grid
@for $i from 1 through $cols {
    .grid-#{$i} {
        width: grid($i);
    }
}

[class^="grid-"] {
    @include estrutura-grid;
}

// Gera as classes de offset
@for $i from 1 through $cols {
    .offset-#{$i} {
        margin-left: grid($i, offset);
        @extend %offset;
    }
}

@include device(small) {
    %offset {
        margin-left: 0px;
    }
}

.container {
    @include container;
}

.row {
    @include row;
}