// Variaveis do grid
$cols: 12;
$gutter: 20px;
$l-device: 1200px;
$m-device: 760px;
$s-device: 480px;

// Variaveis de cores
$bege-claro: #EDECE4;
$bege-medio: #CBC6B9;
$bege-escuro: #988C77;
$cinza: #2A2426;
$verde: #1AB912;

// Familia de fontes do projeto
$font-1: "PT Mono", monospace;
$font-2: "Aref Ruqaa", serif;